<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right_about align-items-center">
                        <h3>Here will be image</h3>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I AM a <span class="text_clr">frontend Developer</span> and learning backend developing</h1>
                        <a href="/"><button>Go to home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>